.nav {
    background-color: black;
    height: 120px;
    padding: 20px;
    border-bottom: 1px solid white;
    position: fixed;
    width: 100%;
}

.maxWidth {
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    position: relative;
}

.left, .middle, .right {
    width: 50%;
}


.left {
    font-family: 'Michroma', sans-serif;
}

.left h1 {
    margin: 0;
    font-size: x-large;
}

.middle {
    text-align: center;
    width: 100%;
    position: absolute;
    top: 50px;
}

.right {
    text-align: right;
}

.right p {
    display: inline;
    user-select: none;
}

.right p:hover {
    color: var(--gold);
    cursor: pointer;
}

.searchBar {
    display: flex;
    align-items: center;
    background-color: rgb(24, 24, 24);
    padding: 5px;
}

.searchInput {
    background-color: rgb(24, 24, 24);
    outline: none;
    color: white;
    border: none;
    width: 100%;
}

.searchButton {
    border: none;
    background-color: rgb(24, 24, 24);
}

.searchButton:hover {
    cursor: pointer;
}

.searchButton:hover .searchIcon{
    color: var(--gold);
}

.searchIcon {
    color: white;
    width: 20px;
    height: 20px;
}

@media only screen and (min-width: 800px){

    .nav {
        height: 100px;
    }

    .maxWidth {
        height: 100%;
    }

    .middle {
        text-align: center;
        width: 100%;
        position: initial;
        top: 0;
    }

}
